.services_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.h3 {
    margin-bottom: 0px;
}

.banner {
    height: 130px;
    padding: 80px 0px 0px 60px;

    background-size: 100% auto;
    /* Keeps the image at its original size */
    background-position: 0px -525px;
    /* Aligns the image to the top-left corner */
    background-repeat: no-repeat;
    /* Ensures the image doesn't repeat */
}

.services {
    font-size: 24px;
    font-family: "meno-banner-condensed", serif;
    font-weight: 300;
    font-style: normal;
}

.calendar {
    margin-top: 20px;
    display: block;
}

.iframe {
    margin: auto;
    display: none;
}

@media(min-width: 600px) {
    .banner {
        height: 150px;
        padding: 60px 0px 0px 60px;
    }

    .services {
        font-size: 28px;
    }


}

@media(min-width: 1000px) {
    .iframe {
        display: block;
        margin: auto;
    }

    .calendar {
        display: none;
    }

}