.blog_image {
    height: 400px;
    width: auto;
    margin: 0px 20px 20px 0px;
    float: left;
}

.blog_content {

    font-family: "garamond-premier-pro", serif;
    font-weight: 200;
    font-style: normal;

}