.common_footer {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: rgba(112,91,57,1);
}

.logo {
    padding-bottom: 10px;
}

/* footer copyright: 14pt */
.copyright {
    font-size: 14pt
}

@media( min-width: 600px) {
}