.common_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    color: white;
    text-align: center;
    z-index: 1000;
    padding: 18px 0px 18px 0px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), 75%, rgba(0, 0, 0, 0.0));
    /* Black with gradient transparency */
}

.mobile_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.desktop_header {
    display: none;
    flex-direction: row;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    width: calc(50% - 18px);
    align-items: center;
    /* Each child takes up 50% of available width, accounting for padding */
    height: 100%;
    /* Adjust as needed */
}

.hamburger {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    width: calc(50% - 18px);
    /* Each child takes up 50% of available width, accounting for padding */
    height: 100%;
    /* Adjust as needed */
}

/* Malve Studio Logo Text: 18pt */
.studio_logo_text {
    font-family: "garamond-premier-pro", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 10pt;
}

.nav {
    margin-left: 20px;
}


@media( min-width: 600px) {
    .logo {
        width: auto;
    }

    .mobile_header {
        display: none;
    }

    .desktop_header {
        display: flex;
    }
}