.common_header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.mobile_header {
    display: block;
}

.mobile_header_open {
    display: flex;
    flex-direction: column;
}

.mobile_header_open_top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
}

.mobile_header_open_bottom {
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    gap: 20px;
    margin-top: 10px;
}

.mobile_header_closed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 44px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), 75%, rgba(0, 0, 0, 0.0));
}

.desktop_header {
    display: none;
    flex-direction: row;
    align-items: center;
    height: 44px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), 75%, rgba(0, 0, 0, 0.0));
}

.logo {
    display: flex;
    justify-content: left;
    padding-left: 20px;
    width: calc(50% - 18px);
    align-items: center;
    /* Each child takes up 50% of available width, accounting for padding */
    height: 100%;
    /* Adjust as needed */
}

.hamburger {
    display: flex;
    justify-content: right;
    padding-right: 20px;
    width: calc(50% - 18px);
    /* Each child takes up 50% of available width, accounting for padding */
    height: 100%;
    /* Adjust as needed */
}

/* Malve Studio Logo Text: 18pt */
.studio_logo_text {
    font-family: "garamond-premier-pro", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 18px;
}

.desktop_header {
}


@media( min-width: 600px) {
    .logo {
        width: auto;
    }

    .mobile_header {
        display: none;
    }

    .desktop_header {
        display: flex;
    }
}