.social_media {
    margin-bottom: 10px;
}

.social_media_buttons {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    justify-content: center;
}

.social_media_button {
    background-color: orange;
    height: 44px;
    width: 44px;
}