.image {
    height: 100px;
    width: auto; 
}

.post {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 15px;
}

.post_entry {
    padding: 20px;
}

.post_title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}