.image {
    height: 125px;
    width: auto; 
}

.post {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 15px;
}

.post_entry {
    padding: 0px 0px 0px 10px;
}

.post_title {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog_section {
    padding: 20px 20px 40px 60px;
}